<footer>

  <nav>
    <div>
      <a href="/">
        {{ $.Site.Title }}
      </a>
    </div>

    <div>
      <a href="/">
        Home
      </a>
    </div>
    <div>
      <a href="/posts">
        Posts
      </a>
    </div>
  </nav>

  <div class="footer-intro">
    Saumya is an iternal seeker. A maker of things and curious about everything. Continuous learning is, what fuels him. This blog itself, reflects one of many things he is trying at all the time. Talk to @saumya on Twitter.
    <p>
      {{ $.Site.Title}} | {{ now.Format "2006" }} | No rights reserved.
    </p>
  </div>


</footer>
